@import 'tailwindcss';

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes slide-to-bottom {
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes slide-from-top {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes slide-to-top {
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(30px);
    opacity: 0;
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@theme {
  --font-figtree: 'Figtree', sans-serif;
  --breakpoint-sidebar: 840px;
  --breakpoint-xs: 32rem;
  --breakpoint-xxs: 22rem;
  --color-blurple: #5865f2;
  --animate-warning: shake 0.2s ease-in-out 0s 2;
  --animate-slide-to-bottom: slide-to-bottom 0.2s ease-in-out 0s 1;
  --animate-slide-from-top: slide-from-top 0.2s ease-in-out 0s 1;
  --animate-slow-ping: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

* {
  scrollbar-color: rgba(161, 161, 170, 0.5) transparent;
}
